@use "./reset.scss";
@use "./normalize.scss";
@use "./variables.scss" as variables;

@use "./ui/radio-button.scss";
@use "./ui/result-card.scss";
@use "./ui/form.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  background: variables.$color-ui-bg;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ul,
ol {
  pointer-events: none;
  user-select: none;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 24px;
  height: max-content;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: variables.$color-ui-text;
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 600;
}

p,
span,
a,
input,
label {
  color: variables.$color-ui-text-muted;
}

input {
  height: 100%;
  padding: 16px;
  border: none;
  background: transparent;
  transition: all 0.2s ease;
}

input:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(variables.$color-ui-primary, 0.2);
}
input:focus {
  box-shadow: 0 0 0 2px rgba(variables.$color-ui-primary, 0.2);
}
button:focus {
  box-shadow: 0 0 0 2px rgba(variables.$color-ui-primary, 0.2);
}

a,
button:not(:disabled),
button {
  cursor: pointer;
  transition: all 0.2s ease;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.hero-content {
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-section {
  min-width: calc(100% - 64px);
  max-width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.prompt-block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.7;
}

.hidden {
  display: none;
}
